TWITTER_BEARER_TOKEN=
X_BEARER_TOKEN=
BEARER_TOKEN=
ETRADE_CONSUMER_KEY=
ETRADE_CONSUMER_SECRET=
ETRADE_OAUTH_TOKEN=
ETRADE_OAUTH_TOKEN_SECRET=
ROUNDHILL_USER=roundhill
ROUNDHILL_MIN_ROWS=1
ROUNDHILL_AMOUNT_MIN=0.01
ROUNDHILL_AMOUNT_MAX=5.00
ROUNDHILL_TICKERS_FILE=
DIVIDEND_ASOF_DATE=
DEBUG_ROUNDHILL=0
OUT_CSV=data_dividends.csv
